body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    margin-top: 1rem;
    padding-bottom: 1vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'montserrat';


    font-weight: 500;
}

a {
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

input,
textarea,
select,
button {
    border: none;
}

button,

input[type="submit"],

.fileContainer,

input[type="file"] {
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus,
.form-wrp fieldset p a:focus,
.page-link:focus {
    border-color: transparent;
    outline: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.home h2 {

    margin-bottom: 2rem;
}

.home h2 a:hover {
    text-decoration: none;
}

.btn_btn {

    text-align: center;
}

.btn_btn button {
    margin-top: 2rem;
    padding: 1rem;
}

.btn_btn button:hover {
    background: green;
}

/* img{
    width: 20%;
    height: 3rem;
    } */


/* .wrapper {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 auto;
    width: 5.1rem;
} */

.wrapper a {
    display: block;
    height: 10rem;
    margin: 10px;
}

a img {
    -webkit-transform: scale(0.5) translate(-50%, -50%);
    -moz-transform: scale(0.5) translate(-50%, -50%);
    -ms-transform: scale(0.5) translate(-50%, -50%);
    -o-transform: scale(0.5) translate(-50%, -50%);
    transform: scale(0.5) translate(-50%, -50%);
    transition: all 200ms;
}

a:focus img {
    border: solid 5px #fff;
    box-shadow: 0 0 10rem 0 black;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: scale(1)translate(-50%, -50%);
    -moz-transform: scale(1)translate(-50%, -50%);
    -ms-transform: scale(1)translate(-50%, -50%);
    -o-transform: scale(1)translate(-50%, -50%);
    transform: scale(1)translate(-50%, -50%);

    z-index: 1;
}